body{
    background-color:black;
}
table{
    margin:110px 5px 3px 5px;
    background-color: gray;
    
}
table,td {
        border: 30px black;
        text-align: center;
     }
td{
    height:100px;
    width:100px;
    
}
#calc{
 width: 400px;
border: 3px solid ;
border-radius: 30px;
padding: 20px;
margin: auto;
}
button{
    font-size:40px;
    height:60px;
    width:60px;

}

@media only screen and (max-width: 600px) {
table{
    margin-left:160px;
}
}
@media only screen and (max-width: 800px) {
table{
    margin-right:0px;
    margin-left:180px;
}
}
@media only screen and (max-width: 1655px) {
table{
    
    margin-left:190px;
}
}
@media only screen and (max-width: 1200px) {
    table{
        
        margin-left:190px;
    }
    }
